.sub-footer {
  background:#dedede;
  padding:20px 0 30px;
  border-top:7px solid #064b9c;
  margin-top:40px;
  text-align:center;
  ul {
    list-style-type:none;
    margin:0;
  }
}

footer {
  position: relative;
  padding: 35px 0 40px 0;
  background: #1d1d20;
  border-top: 7px solid #c93b2a;
  .inline-menu {
    @include reset;
    li {
      display: inline;
      @include reset;
    }
  }
  a {
    color: #6e737c;
    text-decoration: none;
    margin-right: 15px;
  }
  p {
    text-align: right;
    @include reset;
    color: #6e737c;
  }
  .footer-logo {
    position: absolute;
    left: 50%;
    top: -25px;
    margin-left: -34px;
    display: block;
    width: 50px;
    height: 53px;
    background: url('images/bg-layout-mobile-logo.png') 0px 0px no-repeat;
  }
  .row {
    position: relative;
  }
}