.divisions {
	.row {
		margin-bottom:20px;
	}
	.age-group {
		background: url('images/bg-component-well.png') repeat;
		@include border-radius(2px);
		padding:10px 20px 20px 20px;
		width:260px;
		min-height:270px;
		h4 {
			text-align:center;
		}
		.btn-group {
			padding-bottom:10px;
			border-bottom:1px solid #ddd;
		}
	}
	.btn-stats {
		padding:10px;
		z-index:1000;
		@include box-shadow(0, 0, 1px, #999);
		@include border-radius(3px);
	}
}