.divisions {
	.row {
		margin-bottom:20px;
	}
	.age-group {
		background: url('images/bg-component-well.png') repeat;
		@include border-radius(2px);
		padding:10px 20px 20px 20px;
		width:260px;
		min-height:270px;
		h4 {
			text-align:center;
		}
		.btn-group {
			padding-bottom:10px;
			border-bottom:1px solid #ddd;
		}
	}
}